.container{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 2.5rem;
}

.containerProfile{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tituloProfile{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* padding: 1rem 2rem; */
}

.titulo{
  width: 100%;
  color: brown;
  font-size: 3rem;
  font-family: wallpoet;
}


.profile{
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 1em 3em 1em 3em;
}

.dates{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  padding-top: 0.5em;
  padding-left: 1.5em;
  font-size: 1.1em;
}
.dates p{
  margin: 0.3em 0 0.3em 0;
}

.containerButtons{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.buttons{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  cursor: pointer;
  margin-top: 1em;
  margin-bottom: 1em;
  background-color: rgb(9, 9, 183);
  font-size: 1.1em;
  text-decoration: none;
}

.textoBoton{
  color: white;
  width: 15rem;
  margin: 1rem;
  text-decoration: none;
}

.buttons:hover{
  box-shadow: 0 0.1rem 0.4rem rgba(0,0,0,3);
}

@media (min-width: 700px) and (max-width: 1024px) {
  
  .containerButtons{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    text-align: center;
  }

  .buttons{
    margin: 1rem;
    font-size: 1.1em;
  }
  
  .textoBoton{
    color: white;
    width: 12rem;
    margin: 1rem;
    text-decoration: none;
  }
  
  .buttons:hover{
    box-shadow: 0 0.1rem 0.4rem rgba(0,0,0,3);
  }
}

@media (min-width: 1024px) {

  .dates{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    padding-top: 1em;
    padding-left: 3.5rem;
    font-size: 1.4em;
  }


  .containerButtons{
    flex-direction: row;
  }

  .buttons{
    margin: 1rem;
    font-size: 1.5em;
  }
  
  .textoBoton{
    color: white;
    width: 14rem;
    margin: 1rem;
    text-decoration: none;
  }
  
  .buttons:hover{
    box-shadow: 0 0.1rem 0.4rem rgba(0,0,0,3);
  }
}

