.containerHome{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 1rem;
}

.containerActivities{
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
}

.actividades {
  font-size: 2.5em;
  font-family:cursive;
  animation: over-and-back 1.5s linear infinite;
}

.containerCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: auto;
}


@keyframes over-and-back {
  0% {
    transform: translate(-25px);
  }
  50% {
    transform: translate(25px);
  }
  100% {
    transform: translate(-25px);
  }
}
.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
}
