.login {
  font-family: wallpoet;
  margin-top: -30px;
  font-size: 35px;
  display: flex;
  justify-content: center;
  margin-bottom: 230px;
  flex-wrap: nowrap;
}
/* .titulo {
  font-family: "fredoka";
  text-align: center;
  font-size: 30px;
} */
.titulo {
  padding: 1em;
  font-family: "fredoka";
  font-size: 30px;
  text-align: center;
  padding-bottom: 0.5em;
}

.links {
  padding: 1em;
  font-size: 1.8rem;
  color: red;
  align-items: center;
  text-decoration: none;

}
.links:hover {
  width: 100%;
  transition: (0.075, 0.82, 0.165, 1);
  font-size: 1.5em;
  text-shadow: 0 0.9rem 2rem rgba(0, 0, 0, 2);
  text-decoration: none;
}

.labels {
  display: flex;
  justify-content: center;
  color: black;
  font-size: 35px;
}

.user {
  padding: 10px;
  color: white;
  border-radius: 8px;
  background: blue;
}
.user::placeholder {
  color: black;
  font-size: 15px;
  background: blue;
}
.password {
  padding: 10px;
  color: white;
  border-radius: 8px;
  background: blue;
}
.password::placeholder {
  color: black;
  font-size: 15px;
  background: blue;
}

.boton {
  cursor: pointer;
  background: gainsboro;
  padding: 10px;
  border-radius: 8px;
  margin-left: 15px;
}
.boton:hover {
  transition: all 0.5s ease;
  background: blue;
}

.contactform {
  width: 30%;
  padding: 1.5em 1em;
  border-radius: 0.3rem;
  font-size: 1.2rem;
}
.contactform input,
.contactform textarea,
.contactform button {
  resize: none;
  width: 100%;
  padding: 0.5rem 0.3rem;
  margin: 1em 0 0;
  border-radius: 0.3rem;
  font-size: 1.5rem;
}
@media only screen and (max-width: 768px) {
  
  .contactform {
    width: 80%;
    padding: 1.5em 1em;
    border-radius: 0.3rem;
    font-size: 1.2rem;
  }
  .contactform input,
  .contactform textarea,
  .contactform button {
    font-size: 15px;
    resize: none;
    width: 100%;
    padding: 0.5rem 0.3rem;
    margin: 1em 0 0;
    border-radius: 0.3rem;
    font-size: 1.5rem;
  }
  .links {
    padding: 1em;
    font-size: 1.8rem;
    color: red;
  }

  .titulo {
    text-align: center;
    font-size: 30px;
  }
}
