.container{
    width: 100vw;
    height: 100%;
    background-image: url(../info/imagenInfo/menu.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
}

.bloque{
    justify-content: center;
    margin: 2em 2em 2em 8em;
}
.li {
  list-style-type: none;
}
.nombre {
  font-size: 3.5em;
  padding: 2em;
  justify-content: center;
  text-align: center;
  color: brown;
}
.descripcion {
    width: 70%;
  font-size: 2em;
  margin-left: 8em;
  padding-left: 2em;
  justify-content: center;
  text-align: center;
  border: 2px #fff solid;
  color: white;
}
.boton{
    text-decoration: none;
    margin-top: 0.5em;
    width: 100%;
    padding: 8px 6px;
    border-radius: 5px;
    background-color: dimgray;
    font-size: 1.6rem;
    color: white;
    font-weight: bold;
    border: 0;
    cursor: pointer;
  }
  .boton:hover{
    box-shadow: 0 0.1rem 0.4rem rgba(0,0,0,3);
  }
