/* .divImage{
  width: 100%;
  height: 40rem;
  background-image: url("../info/imagenInfo/foto.jpg");
  background-size: 100% 80%;
  background-repeat: no-repeat;
  background-position: -10%;
} */

.divImage {
  width: 100%;
  height: 17rem; 
  background-color: white;
  align-items: center;
  padding-bottom: 4em;
  
}

